body{
  background-color: black
}
#todo-error{
  color: red;
  font-size: 2em;
}
#bg-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: center;
  
}
.quotes-pos{
  position: fixed;
  width: 90%;
  bottom: 0%;
  left: 84%;

}
.weather{
   position: fixed;
  width: 60%;
  bottom: 60%;
  left: 84%;
  opacity: 1;
  fill-opacity: unset;
}

.todo-pos{
 position: fixed;
  width: 60%;
  bottom: 20%;
  left: 1%;
  size: 20%;
}

.redx{
color: brown;
cursor: pointer;}

.strikethrough:checked + span{
  text-decoration:line-through
}

input.largerCheckbox{
  width: 22px;
  height: 18px;
}